*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background: linear-gradient(to right,#2d85b7, #ae2d87);
    font-weight: bold;
}
.light{
    transition: 1s;
    --background: #ddd;
}
.dark{
    transition: 1s;
    --background: #464646;
}
.mainBox{
    width: 300px;
    height: 550px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 20px;
    background-color: var(--background);
    border-radius: 20px;
}
.clockBox{
    position: relative;
    height: 220px;
    width: 220px;
    margin: 10px auto;
    background-color: #FF00FF;
    border-radius: 50%;
}
.clockBox::before{
    content: '';
    position: absolute;
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: var(--background);
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.301);
}
.clockBox::after{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: black;
}
.min, .hr, .sec{
    position: absolute;
    transform: rotate(0deg);
    transform-origin: bottom center;
}
.min{
    height: 100px;
    width: 4px;
    background-color: black;
    margin: auto;
    top: 5%;
    left: 49%;
    border-radius: 2%;
}
.hr{
    height: 70px;
    width: 5px;
    background-color: black;
    margin: auto;
    top: 18%;
    left: 49%;
    border-radius: 2%;
}
.sec{
    height: 110px;
    width: 2px;
    background-color: black;
    top: 0%;
    left: 49.5%;
    border-radius: 2px;
}
.med{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    color: #FF00FF;
    font-weight: bold;
}
.info{
    margin-top: 50px;
    text-align: center;
}
.digitalHours{
    font-size: 25px;
    color: #FF00FF;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
.basic{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.basic .city{
    font-size: 30px;
    color: #FF00FF;
}
.basic .date{
    margin-top: 5px;
    font-size: 15px;
    color: #FF00FF;
}
.mode{
    color: 	#FFFF00;
    font-size: 35px;
    margin-top: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}